html {
    background: url(../img/BG1.png) no-repeat center center fixed; 
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
        }

        body {
            padding-top: 7.5px;
            font-size: 16px;
            font-family: "Open Sans",serif;
            background: transparent;
        }

        h1 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 40px;
            color: white;
        }
        h2 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 25px;           
            color: white;
        }
        h3 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: white;         
        }

        /* Override B3 .panel adding a subtly transparent background */
        .panel {
            background-color: rgba(20, 34, 61,1);
            
        }
        .panel-default {
            -webkit-box-shadow: -7px 0px 10px 0px #000, 7px 0px 10px 0px #000;
            -moz-box-shadow: -7px 0px 10px 0px #000, 7px 0px 10px 0px #000;
            box-shadow: -7px 0px 10px 0px #000, 7px 0px 10px 0px #000;
        }

        .margin-base-vertical {
            margin: 40px 0;
        }
        p{
            color: white;
        }
        ul {
            color: white;
        }
        li {
            color: white;
        }
        ol {
            color: white;
        }
 
.hotspot.square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.hotspot {
}

.hotspot {
  position: absolute;
  background: #ffd900;
  -moz-opacity: .0;
  -ms-filter: ”alpha(opacity=0)”;
  filter: alpha(opacity=0);
  opacity: .0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

a {
  outline: 0;
}

user agent stylesheeta:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

.img-center {
    margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

.navbar .navbar-nav {
  display: inline-block;
  text-align: center;
  float: none;
  color: rgba(255,255,255,0.1);
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > ul{
    padding: 35px
  color: rgba(255,255,255,0.1);
}

a.btn:hover {
    background-color: rgba(122,167,64,0.8) !important;
}
.modal {
  position: center;
  top: 20%
}
.modal .modal-body {
    width:auto;
}.modal-open .modal,.btn:focus, a:focus{
    outline:none!important
}

.navbar-default {
  background-color: #0c2d63;
  border-color: #bacae5;
}

.navbar-default .navbar-brand {
  color: #f6f6f9;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f6f6f9;
}

.navbar-default .navbar-text {
  color: #f6f6f9;
}

.navbar-default .navbar-nav > li > a {
  color: #f6f6f9;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f6f6f9;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #0C0c0D;
  background-color: #bacae5;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f6f6f9;
  background-color: #bacae5;
}

.navbar-default .navbar-toggle {
  border-color: #bacae5;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #bacae5;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6f6f9;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6f6f9;
}

.navbar-default .navbar-link {
  color: #f6f6f9;
}

.navbar-default .navbar-link:hover {
  color: #f6f6f9;
}
a.btn:hover {
  background-color: rgba(133,188,247,0.8) !important;
  color: white;
}
table {
  background-color: transparent;
  border-color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6f6f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f6f6f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #508099;
    background-color: #bacae5;
  }
}



@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

@media screen and (max-width: 991px){
    .columns{
        height: 2500px;
        overflow:scroll;
    }
}

@media screen and (min-width: 992px){
    .columns{
        -moz-column-count:3; /* Firefox */
        -webkit-column-count:3; /* Safari and Chrome */
        column-count:3;
        width: 1050px;
    }
}